@import "tailwindcss";

@theme {
    --stroke-none: unset;
}

@utility text-stroke-* {
    -webkit-text-stroke-width: calc(--value(integer) * 0.5px);
    -webkit-text-stroke-width: --value(--stroke-*, [*]);

    --tw-stroke-color: --value(--color-*);
    -webkit-text-stroke-color: var(--tw-stroke-color, black);
}

aside ul {
    @apply list-disc;
}

aside ol {
    @apply list-decimal;
}

aside ul,
aside ol {
    @apply w-full
    ml-4
    text-xl
    underline;
}

aside ul ul,
aside ol ol {
    @apply ml-4;
}

aside li,
aside li > a {
    @apply w-full;
}

section p > a {
    @apply text-blue-300
    hover:text-yellow-300 transition-all ease-in-out;
}

.mtf h3 {
    @apply text-stroke-1 text-stroke-black;
}

header > div.about {
    @apply flex flex-row
    items-center justify-center
    gap-4
    text-2xl
    max-sm:flex-col max-sm:items-stretch;
}

div.about .btn-action span {
    @apply text-center items-center justify-center;
}

article.blog-page {
    @apply flex flex-col
    w-full
    gap-4
    lg:flex-row;
}

article.blog-page > aside {
    @apply flex flex-col
    p-4 m-2
    text-white
    bg-[#02ba47]
    border-r-6 border-t-6 border-t-green-400 border-r-green-600
    rounded-xl
    lg:w-1/4
}

article.blog-page > aside h3 {
    @apply text-center;
}

article.blog-page .blog-content {
    @apply flex flex-col
    w-full
    mb-6 mt-2
    px-6
    gap-8
    lg:w-2/3
}

article.blog-page .blog-content section {
    @apply w-full
    xl:w-4/5;
}

article.blog-page .blog-content section > div {
    @apply flex flex-row
    items-start
    gap-4
    mb-4
}

.blog-content section section {
    @apply wrap-anywhere md:pl-16;
}