@import "tailwindcss";

nav {
    @apply flex flex-col
    w-full
    items-center
    p-5
    gap-7
    bg-linear-to-b from-blue-500 to-blue-700
    border-b-6 border-blue-900
    text-2xl
    z-999
    lg:flex-row max-lg:sticky! max-lg:top-0;
}
nav > a > img:hover {
    filter: brightness(65%);
}

nav > div {
    @apply flex flex-row w-full
    justify-between
    items-center
    lg:hidden;
}

nav > div > a > img:hover {
    filter: brightness(65%);
}

nav > a > img {
    @apply hidden
    lg:inline-block;
}

nav a {
    @apply w-full
    lg:w-max;
}

nav a > span {
    @apply w-full flex justify-center items-center;
}